@import "../../sass/abstract/variables";
@import "../../sass/abstract/mixins";
@import "../../sass/abstract/functions";
@import "../../sass/abstract/structures";

nav {
  @include clearfix;
  background-color: $color-white;

  #logo {
    float: left;
    font-weight: bold;
    margin: 10px 25px 0 5%;
  }
}

.navigation {
  list-style: none;
  float: left;
  padding: 10px;

  li {
    display: inline-block;
    margin-left: 30px;
    &:first-child {
      margin: 0;
    }
    a:link {
      @include style-link-text($color-black);
    }
  }
}

.admin-area {
  float: right;
}
