<nav>
  <div id="logo">auto.market</div>
  <ul class="navigation">
    <li><a href="#">Home</a></li>
    <li><a href="#">Sell Car</a></li>
    <li><a href="#">Buy Car</a></li>
    <li><a href="#">Market</a></li>
    <li><a href="#">Contact us</a></li>
  </ul>
  <div class="admin-area">
    <ul class="navigation-right">
      <li>
        <a href="#">
          <mat-icon aria-label="Example home icon"> directions_car</mat-icon></a
        >
      </li>
      <li>
        <a href="#"
          ><mat-icon aria-label="Example home icon">star_border</mat-icon></a
        >
      </li>
      <li>
        <a href="#"
          ><mat-icon aria-label="Example home icon">notifications</mat-icon></a
        >
      </li>
    </ul>
  </div>
</nav>
