<nav>
  <div id="logo">auto.market</div>
  <ul class="navigation">
    <li><a href="#">Home</a></li>
    <li><a href="#">Sell Car</a></li>
    <li><a href="#">Buy Car</a></li>
    <li><a href="#">Market</a></li>
    <li><a href="#">Contact us</a></li>
  </ul>
  <div class="admin-area">
    <a class="btn-main" href="#">Sign up</a>
    <a class="btn-hot" href="#">Get a quote</a>
    <a class="btn-hot" href="#">Get a quote</a>
    <a class="btn-hot" href="#">Get a quote</a>
    <a class="btn-hot" href="#">Get a quote</a>
    <a class="btn-hot" href="#">Get a quote</a>
  </div>
</nav>
